@media only screen and (min-width: 668px){
    .mobile_version{
        display: none;
    }
}

@media only screen and (max-width: 667px){
    .desktop_version{
        display: none;
    }
}
.navbar-brand > img {
    max-height: 175%;
    height: 175%;
}