@media only screen and (min-width: 668px){
    .mobile_version{
        display: none;
    }
}

@media only screen and (max-width: 667px){
    .desktop_version{
        display: none;
    }
}

.navbar-brand > img {
    max-height: 175%;
    height: 175%;
}

.custom_card{
    height: 500px;
    border: solid #F47B20 1px;
    padding: 15px;
    border-radius: 5px;
}

.card_img{
    width: 100%;
    height: 50%;
    /*border: solid black 1px;*/
}

.card_title, .card_text{
    padding: 5px;
    /*border: solid black 1px;*/
}

.card_title{
    font-weight: bold;
}

.card_text{
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_btn{
    margin-bottom: 5px;
    height: 40px;
    font-size: 16px!important;
    border: solid black 1px;

}

.nav-stacked{
    border: none!important;
}

.active a{
    border: none!important;
    background-color: lightgrey!important;
}

.custom_card .card_btn{
    background-color: #7861A4!important;
}

.desktop_version{
    /*background-color: #C8C500;*/
    background-color: #F47B20;
    height: 100%;
}

.mobile_version{
    /*background-color: #C8C500;*/
    background-color: #F47B20!important;
}

.desktop_version li{
    font-size: 2em;
    height: 80px;
}

.desktop_version a{
    height: inherit;
    line-height: 60px!important;
}

.content_container{
    margin-top: 2%;
}

.page_container{
    height: 750px;
}

.desktop_version .nav-stacked{
    margin-top: 15%;
}

.nav_link{
    border-top: solid darkgray 1px!important;
    border-bottom: solid darkgray 1px!important;
}

.mobile_version{
    border: none!important;
}

.navbar-toggle{
    border: none!important;
}

.icon-bar{
    background-color: black!important;
    height: 4px!important;
}

.modal-lg{
    width: 75%;
}

@media only screen and (max-width: 667px){
    .modal-lg{
        width: 95%;
    }
}

/*.project_details{*/
    /*min-height: 500px;*/
/*}*/

.visit_website{
    background-color: #C8C500!important;
}

.text_container{
    padding: 5%;
}